{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <form method="post">
                <input type="hidden" name="addCodes" value="add"/>
                <button class="btn btn-outline-success" type="submit">Dodaj 10 losowych kodów</button>
            </form>
            <button class="btn btn-outline-success" type="button" onclick="displayCodesList()">Pokaż wszystkie kody</button>
            <button class="btn btn-outline-success" type="button">Usuń kody</button>
        </form>
    </nav>
    <div id="list" style="display:none">
        <h3>Lista kodów</h3>

        <table class="table">
            <tr>
                <th>LP</th>
                <th>KOD</th>
                <th>DATA UTWORZENIA</th>
            </tr>

            {% for elem in codes %}
                {% set counter = (counter | default(0)) + 1 %}

                <tr>
                    <td>{{ counter }}</td>
                    <td>{{ elem.code }}</td>
                    <td>{{ elem.dataAdded.date }}</td>
                    {#<td>{{ dump(elem.dataAdded) }}</td>#}

                </tr>
            {% endfor %}
        </table>
    </div>

    {% block javascripts %}
        <script>
            function displayCodesList(){
                let list = document.getElementById("list");
                list.style.display = 'block';
            }
        </script>
    {% endblock %}
{% endblock %}
